.queryDisplay {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 1em;
}

input, button {
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.15);
}

button:not(:disabled) {
  cursor: pointer;
}

.field {
  padding-left: 10px;
  float: left;
}

.view {
  padding: 10px;
}

.nestedSelect {
  position: fixed;
  top: 10vh;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  background-color: white;
  left: 0px;
}

.record-view {
  .record-content {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.5em;
    padding: 10px;
    margin: 20px;
  }
}
